
#checkout-background {
    background-repeat: no-repeat;
    display: flex;
    width: auto;
    height: auto;
}

h3 {
    /* margin-right: 50%;
    margin-left: 50%; */
    white-space: nowrap;
    display: flexbox;
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    color: white;
    /* margin-left: 15px; */
    /* justify-content: center; */
}

#results {
    text-align: center;
    display: flex;
    position: relative;
    justify-content: center;
    color: white;
}

ul {
    list-style: none;
    /* margin-right: 50%;
    margin-left: 50%; */
    white-space: nowrap;
    /* text-align: center; */
}

li {
    text-align: left;
    /* display: flex; */
    /* position: relative; */
    /* justify-content: center; */
    margin-right: auto;
    margin-left: auto;
}

#suggested-product, #bronze, #silver, #gold, #total {
    color: white;
    display: flexbox;
}

#total {
    margin-top: 20px;
    margin-bottom: 15px;
    display: flexbox;
}

#form-check-input {
    width: 0.5em;
}

#radio {
    width: 10px;
    height: 10px;
}

#checkout-button {
    background-image:-moz-linear-gradient(45deg,blue,white);
    display: flexbox;
}